/* The stylesheet for my project "02 Progress Steps */

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --disabled-background-gray: #cccccc;
  --disabled-text-gray: #737373;
  --active-blue: dodgerblue;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Lora, serif;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.numbers {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

.number {
  width: 5vw;
  height: 5vw;
  background-color: var(--disabled-background-gray);
  border: 3pt solid var(--disabled-text-gray);
  border-radius: 50%;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  color: var(--disabled-text-gray);
  transition: background-color 200ms;
  transition: border 200ms;
}

.number.active {
  background-color: white;
  border: 5pt solid var(--active-blue);
  color: black;
}

.lines {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.top {
  border-bottom: 3pt solid var(--disabled-text-gray);
  transition: border-bottom 200ms;
}

.top.active {
  border-bottom: 3pt solid var(--active-blue);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  width: 12vw;
  margin: 2vw;
  margin-top: 5vw;
  padding: 0.5vw;
  border-radius: 30px;
  background-color: dodgerblue;
  cursor: pointer;
}

.button.disabled {
  background-color: lightgray;
  color: var(--disabled-text-gray);
  cursor: not-allowed;
}