@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --disabled-background-gray: #cccccc;
  --disabled-text-gray: #737373;
  --active-blue: dodgerblue;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Lora, serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.numbers {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

.number {
  width: 5vw;
  height: 5vw;
  background-color: lightgray;
  border: 3pt solid gray;
  border-radius: 50%;
  font-size: 3em;
  font-weight: 700;
  transition: background-color 200ms;
  transition: border 200ms;
}

.number p {
  position: relative;
  text-align: center;
  bottom: 3.2vw;
}

.number.active {
  background-color: white;
  border: 3pt solid dodgerblue;
}

.lines {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.top {
  border-bottom: 3pt solid gray;
  transition: border-bottom 200ms;
}

.top.active {
  border-bottom: 3pt solid dodgerblue;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  width: 12vw;
  margin: 2vw;
  margin-top: 5vw;
  padding: 0.5vw;
  border-radius: 30px;
  background-color: dodgerblue;
}

.button.disabled {
  background-color: lightgray;
}